body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

a, a:hover, a:link, a:active, a:visited {
    color: #ffb727;
    text-decoration: none;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: var(--background);
}

.nav-item {
    margin: 0 1vw;
    color: var(--text);
}

.nav-item > a {
    color: var(--text);
    text-decoration: none;
    padding: 14px 20px;
}

.nav-item:hover {
    background-color: var(--primary);
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text);
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
}

.dropdown-content > a:hover {
    background-color: var(--primary);
}

.dropdown-content > a:first-child,
.dropdown-content > a:last-child {
    border-top: none;
    border-bottom: none;
}

/* Main content styles */
#main-content {
    padding: 20px;
    background-color: #fff;
    z-index: 1; /* Ensure main content is below the navbar */
}

/* Responsive styles */
@media (max-width: 600px) {
    #nav-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item {
        margin: 5px 0;
    }
    .nav-item > a {
        padding: 10px;
    }
}
